.clan {
  .image-clan {
    width: 100px;
    height: auto;
    &.active {
      border: 5px solid #00C851
    }
    &:hover {
      cursor: pointer;
    }
  }
  .input-radio {
    visibility: hidden;
    position: absolute;
  }
  label {
    display: block;
    img {
      display: block;
      margin: auto;
    }
  }
  h2,
  p {
    text-align: center;
  }
  h2 {
    padding: 20px 0 0;
  }
  p {
    padding: 20px 0;
    font-size: 1.5rem;
  }
}