@import '../styles/styles';
$antiqueRuby: #891924;
$richBlack: #020509;
$roseWood: #5E0000;
$gainsBord: #E0E2DB;

body {
  h1:first-child{
    text-align: center;
    margin: 1rem auto 2%;
  }
  .question.circular.icon {
    margin-left: 10px;
    &:hover {
      cursor: pointer;
    }
  }
  header {
    div.ui.menu.secondary {
      background: $antiqueRuby;
      .item {
        color: #fff;
      }
    }
  }
  .home_content {
    .ui.container {
      margin-top: 5rem;
      padding-bottom: 5rem;
    }
    i.icon {
      display: block;
      margin: 1rem auto;
    }
  }
  footer {
    background: $gainsBord;
    padding: 2%;
    margin: 2rem 0 0;
    a {
      color: #000;
      &:hover {
        color: #000;
      }
    }
    i.icon{
      font-size: 1.5em;
    }
  }
  .home {
    background: #FFF;
    a {
      color: #FFF;
    }
    .ui.button {
      display: block;
      margin: 10px auto;
    }
    .home_top {
      background: $gainsBord;
      height: 400px;
      width: 100vw;
      display: flex;
      align-content: center;
      .ui.text.container {
        margin-top: auto;
        margin-bottom: auto;
      }
    }
  }
  .description {
    .row {
      padding: 10px 0;
    }
    .ui.label {
      width: 140px;
    }
  }
  .attribute {
    min-height: 71vh;
    .attribute_form {
      padding: 30px 0 0;
      justify-content: center;
    }
  }

  .input_range {
    margin: 20px 0;
  }

  .input-range__label.input-range__label--value,
  .input-range__label.input-range__label--min,
  .input-range__label.input-range__label--max {
    color: #000;
    font-size: 1rem;
  }
  .attribute_distribution {
    button.ui.positive {
      margin: 20px;
    }
    .ui.grid {
      button {
        display: block;
      }
    }
  }
}
